{% extends "layout.html" %}
{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">View Patients</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">View Patients</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
         <div class="col-md-12">
            <!-- Form Element sizes -->
            <div class="card card-success card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="nav-icon fas fa-users-cog"></i>
                  View Patients
                </h3>
              </div>
              <div class="card-body">
                {% include "flash_alert.html" ignore missing %}


        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default  collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filters</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <!-- Date range -->
                <div class="form-group">
                  <label>Date range:</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control float-right" id="from_to_date_input">
                  </div>
                  <!-- /.input group -->
                </div>
                <!-- /.form group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.card -->
                <div class="table-responsive">
                  <table id="dataTable1" class="table table-bordered table-sm">
                    <thead>
                    <tr>
                      <th>Patient Id</th>
                      <th>Patient Name</th>
                      <!-- <th>Email ID</th> -->
                      <th>Test Name</th>
                      <th>Date Submitted</th>
                      <th>Result Status</th>
                      <th>View</th>
                      <th>Technician Status</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for patient_panel in patients_panels_refid %}
                    {% set count = loop.index %}
                     <tr>
                        <td>{{patient_panel[0].patient_id}}</td>
                        <td><a href="" data-toggle="modal" data-target="#viewPatientDetailsModal" data-id={{patient_panel[0].id}} onclick="PatientViewModal(this)" >{{patient_panel[0].f_name}} {{patient_panel[0].l_name}}</a></td>
                        <!-- <td>{{patient_panel[0].email}}</td> -->
                        <td>{{patient_panel[1].name}} </td>
                        <td>{% if patient_panel[2].submitted_date != None %}{{patient_panel[2].submitted_date.strftime('%m/%d/%Y')}}{% endif %}</td>
                        <td>{{patient_panel[2].result_status}}</td>
                        <td>{% if patient_panel[2].result_status == "Done" %} <a href=" {{patient_panel[2].first_result}}" target="_blank">View</a> {% endif %}</td>
                        <td>
                            <form action="" method="post">
                              <div class="row">
                                <div class="col-sm-8">
                                <input type="hidden" id="pantient_panel_id{{count}}" value="{{patient_panel[2].id}}">
                                <input type="hidden" id="patient_id{{count}}" value="{{patient_panel[0].id}}">
                                <input type="hidden" id="panel_id{{count}}" value="{{patient_panel[1].id}}">
                                <select class="form-control" onchange ="PatientTechnicianStatus({{count}})" id="technician_status{{count}}">
                                  <option value=""> -- Select Status --</option>
                                  <option value="Approved" {% if patient_panel[2].technician_status == 'Approved' %} selected {% endif %}>Approved</option>
                                  <option value="Rejected" {% if patient_panel[2].technician_status == 'Rejected' %} selected {% endif %}>Rejected</option>
                                </select>                              
                              </div>
                              <div class="col-sm-4">
                                {% if patient_panel[2].technician_status != '' and patient_panel[2].technician_status != None %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm" data-toggle="dropdown">
                                      <i class="fa fa-fw fa-calendar-check"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="#">{{patient_panel[2].technician_status_date.strftime("%m/%d/%Y")}}</a>
                                    </div>
                                </div>
                                {% endif %}
                                <small class="text-success" id="status_update_msg{{count}}"></small>
                              </div>
                            </div>
                          </form>
                          
                        </td>
                        <td>
                          <a href=""><i class="fa fa-user-md"></i></a>
                          <a href="" onclick="return confirm('Are you sure you want to send this result?');"> <i class="fas fa-paper-plane" title="Send Results"></i></a>
                          <a href="" onclick="return confirm('Are you sure you want to print this result?');"> <i class="fas fa-print" title="Print Results"></i></a>
                          
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                </div>              
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Compose New Message</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <input class="form-control" placeholder="To:">
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Subject:">
                </div>
                <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" style="height: 300px">
                      <h1><u>Heading Of Message</u></h1>
                      <h4>Subheading</h4>
                      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                        was born and I will give you a complete account of the system, and expound the actual teachings
                        of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                        dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know
                        how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again
                        is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                        but because occasionally circumstances occur in which toil and pain can procure him some great
                        pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise,
                        except to obtain some advantage from it? But who has any right to find fault with a man who
                        chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that
                        produces no resultant pleasure? On the other hand, we denounce with righteous indignation and
                        dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so
                        blinded by desire, that they cannot foresee</p>
                      <ul>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                        <li>List item four</li>
                      </ul>
                      <p>Thank you,</p>
                      <p>John Doe</p>
                    </textarea>
                </div>
                <div class="form-group">
                  <div class="btn btn-default btn-file">
                    <i class="fas fa-paperclip"></i> Attachment
                    <input type="file" name="attachment">
                  </div>
                  <p class="help-block">Max. 32MB</p>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <div class="float-right">
                  <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Draft</button>
                  <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Send</button>
                </div>
                <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    <div class="modal fade" id="viewPatientDetailsModal" tabindex="-1" role="dialog" aria-labelledby="viewPatientDetailsLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Personal Details</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <b>Gender : </b> <span id="modalPatientGender"></span><br/>

              <b>Email Id : </b> <span id="modalPatientEmailId"></span><br/>

              <b>Contact No : </b> <span id="modalPatientContactNo"></span><br/>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    
{% endblock %}