{% extends "layout.html" %}
{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{% if patient is defined %}Edit{% else %}Add{% endif %} Patient</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">{% if patient is defined %}Edit{% else %}Add{% endif %} Patient</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
         <form method="post" action="{% if patient is defined %}{{ url_for('patients_add_update', id = patient.id) }}{% else %}{{ url_for('patients_add_update') }}{% endif %} ">
        <div class="row">
           <div class="col-md-12">
                  {% include "flash_alert.html" ignore missing %}
           </div>
            <div class="col-md-6">
              <!-- Form Element sizes -->
              <div class="card card-success card-outline ">
                <div class="card-header">
                  <h3 class="card-title">
                  <i class="nav-icon fas fa-user"></i>
                   Personal Details
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-borderless">
                      <tr>
                        <th class="text-right" style="width:25%;">Date : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <div class="input-group date" id="patient_date" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input" data-target="#patient_date" name="date"  value="{% if patient is defined %}{{ patient.dob }}{% endif %}" required>
                                  <div class="input-group-append" data-target="#patient_date" data-toggle="datetimepicker">
                                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right">Name : </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name" name="f_name"  value="{% if user is defined %}{{ user.f_name }}{% endif %}" required>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name" name ="l_name"  value="{% if user is defined %}{{ user.l_name }}{% endif %}" required>
                              </div>
                            </div>
                          </div>                 
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right ">Patient ID : </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Patient ID" name="patient_id"  value="{% if patient is defined %}{{ user.patient_id }}{% endif %}" required >
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% set gender="" %}
                      {% if user is defined %}
                      {% set gender = user.gender %}
                      {% endif %} 
                      <tr>
                        <th class="text-right ">Gender : </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <select class="form-control" name="gender" required>
                                  <option value="">-- Select Gender --</option>
                                  <option value="Male" {% if gender == 'Male' %}selected{% endif %} >Male</option>
                                  <option value="Female" {% if gender == 'Female' %}selected{% endif %}>Female</option>
                                  <option value="Other" {% if gender == 'Other' %}selected{% endif %}>Other</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                       <tr>
                        <th class="text-right ">Ethnicity : </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Ethnicity" name="ethnicity"  value="{% if patient is defined %}{{ patient.ethnicity }}{% endif %}" required >
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                       <tr>
                        <th class="text-right">Date of Birth : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <div class="input-group date" id="patient_dob" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input" data-target="#patient_dob" name="dob"  value="{% if patient is defined %}{{ patient.dob }}{% endif %}" required>
                                  <div class="input-group-append" data-target="#patient_dob" data-toggle="datetimepicker">
                                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right ">Contact No : </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Contact Number" name="contact_no"  value="{% if patient is defined %}{{ patient.contact_no }}{% endif %}" required >
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                       <tr>
                        <th class="text-right ">Email ID : </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter Email ID"  value=" {% if patient is defined %}{{ patient.email }}{% endif %} " name="email" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right ">Password: </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="password" id ="password" class="form-control" placeholder="Enter Password" value="{% if patient is defined %}{{ patient.password }}{% endif %}"  name="password" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right ">Confirm Password : </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="password" id ="confirm_password" class="form-control" placeholder="Enter Confirm Password" value="{% if patient is defined %}{{ patient.password }}{% endif %}" required>
                                <span id="password-error" class="error invalid-feedback"></span>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right ">Address : </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Enter Address" name="address">{% if patient is defined %}{{ patient.address }}{% endif %}</textarea>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- Form Element sizes -->
              <div class="card card-success card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                  <i class="nav-icon fas fa-flask"></i>
                   Laboratory Details
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                 
                    <table class="table table-sm table-borderless">
                      <tr>
                        <th class="text-right" style="width:25%;">Order By: </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Order By" name="order_by"  value="{% if patient is defined %}{{ user.order_by }}{% endif %}" required >
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right">Collection Date : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <div class="input-group date" id="collection_date" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input" data-target="#collection_date" name="date"  value="{% if user is defined %}{{ user.collection_date }}{% endif %}" required>
                                  <div class="input-group-append" data-target="#collection_date" data-toggle="datetimepicker">
                                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right">Received Date : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <div class="input-group date" id="collection_date" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input" data-target="#received_date" name="date"  value="{% if user is defined %}{{ user.received_date }}{% endif %}" required>
                                  <div class="input-group-append" data-target="#received_date" data-toggle="datetimepicker">
                                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right">Report Generated: </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Report Generated" name="report_generated"  value="{% if patient is defined %}{{ patient.report_generated }}{% endif %}" required >
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                </div>
                <!--  /.Card Body -->  
              </div>
             <!--  /.Card -->         
            </div>
            <!-- sm-* end -->
            <div class="col-md-6">
              <!-- Form Element sizes -->
              <div class="card card-success card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                  <i class="nav-icon fas fa-info-circle"></i>
                   Additional Details
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-borderless">
                      <tr>
                        <th class="text-right" style="width:25%;">Age : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="" name="age"  value="{% if patient is defined %}{{ patient.age }}{% endif %}" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right">Weight : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Weight" name="weight"  value="{% if patient is defined %}{{ patient.weight }}{% endif %}" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right">Height : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Height" name="height"  value="{% if patient is defined %}{{ patient.height }}{% endif %}" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right">BMI : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="" name="bmi"  value="{% if patient is defined %}{{ patient.bmi }}{% endif %}" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right">Allergic to : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="" name="allergic_to"  value="{% if patient is defined %}{{ patient.allergic_to }}{% endif %}" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right">Additional 1 : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="" name="additional1"  value="{% if patient is defined %}{{ patient.additional1 }}{% endif %}" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                       <tr>
                        <th class="text-right">Additional 2 : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="" name="additional2"  value="{% if patient is defined %}{{ patient.additional2 }}{% endif %}" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                       <tr>
                        <th class="text-right">Additional 3 : </th>
                        <td>
                           <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="" name="additional3"  value="{% if patient is defined %}{{ patient.additional3 }}{% endif %}" required>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-right ">Remarks : </th>
                        <td>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Enter Remarks" name="remarks">{% if patient is defined %}{{ patient.remarks }}{% endif %}</textarea>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <!-- Form Element sizes -->
              <div class="card card-success card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                  <i class="nav-icon fas fa-vial"></i>
                   Test Request
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-6">
                      <!-- checkbox -->
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox">
                          <label class="form-check-label">Genetic report</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" checked="">
                          <label class="form-check-label">Fitness report</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" >
                          <label class="form-check-label">Exercise report</label>
                        </div>
                      </div>
                    </div>
                      
                </div>
                <!--  /.Card Body -->  
              </div>
             <!--  /.Card -->         
            </div>
            <!-- sm-* end -->


            <div class="col-sm-12">              
              <!-- Form Element sizes -->
              <div class="card">               
                <div class="card-body">                   
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                      
                </div>
                <!--  /.Card Body -->  
              </div>
             <!--  /.Card --> 
            </div>
        </div>
        <!-- /.row -->
          </form>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    
{% endblock %}